
advice-generator-app-main/design/active-states.jpg
advice-generator-app-main/design/desktop-design.jpg
advice-generator-app-main/design/desktop-preview.jpg
advice-generator-app-main/design/mobile-design.jpg
qr-code-component-main/design/desktop-design.jpg
qr-code-component-main/design/desktop-preview.jpg
qr-code-component-main/design/mobile-design.jpg
node_modules/
interactive-rating-component-main/design/active-states.jpg
interactive-rating-component-main/design/desktop-design.jpg
interactive-rating-component-main/design/desktop-preview.jpg
interactive-rating-component-main/design/desktop-thank-you-state.jpg
interactive-rating-component-main/design/mobile-design.jpg
interactive-rating-component-main/design/mobile-thank-you-state.jpg
